{% load static %} {% load slugify_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SALUS</title>
    <link rel="icon" type="image/png" href="{% static 'imgs/logo.png' %}">

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
</head>
<body>
<header>
    <div
            class="flex-row align-items-center justify-content-end py-3 px-4 gap-5 header-contacts d-none d-lg-flex"
    >
        {% for phone in contacts.phones.all %}
            <a
                    href="tel:{{ phone.phone }}"
                    class="header-phone"
            >
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-telephone-outbound"
                        viewBox="0 0 16 16"
                >
                    <path
                            d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5"
                    />
                </svg>
                {{ phone.phone }}
            </a>
        {% endfor %}
    </div>
    <nav class="navbar navbar-expand-lg fixed-top py-2 py-lg-4">
        <div class="container">
            <a class="navbar-brand" href="#"><strong>Salus</strong>.kg</a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                    class="offcanvas offcanvas-end"
                    tabindex="-1"
                    id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel"
                    data-bs-scroll="true"
            >
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                        <strong>Salus</strong>.kg
                    </h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="offcanvas"
                            aria-label="Close"
                    ></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item" data-bs-dismiss="offcanvas">
                            <a class="nav-link" href="#o-nas"> О нас</a>
                        </li>
                        <li class="nav-item" data-bs-dismiss="offcanvas">
                            <a class="nav-link" href="#uslugi">Наши услуги</a>
                        </li>
                        <li class="nav-item" data-bs-dismiss="offcanvas">
                            <a class="nav-link" href="#preimuschestva"
                            >Преимущества работы с нами</a
                            >
                        </li>
                        <li class="nav-item" data-bs-dismiss="offcanvas">
                            <a class="nav-link" href="#zastroyshiki">Застройщики</a>
                        </li>
                        <li class="nav-item" data-bs-dismiss="offcanvas">
                            <a class="nav-link" href="#kontakty">Контакты {{ LANGUAGE_CODE }}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                            </a>
                            <ul class="dropdown-menu">
                                <li data-bs-dismiss="offcanvas">
                                    <a class="dropdown-item" href="/">Русский (РУ)</a>
                                </li>
                                <li data-bs-dismiss="offcanvas">
                                    <a class="dropdown-item" href="/ky/">Кыргызча (КГ)</a>
                                </li>
                                <li data-bs-dismiss="offcanvas">
                                    <a class="dropdown-item" href="/en/">English (EN)</a>
                                </li>
                                <li data-bs-dismiss="offcanvas">
                                    <a class="dropdown-item" href="/ar/">اَلْعَرَبِيَّةُ (AR)</a>
                                </li>
                                <li data-bs-dismiss="offcanvas">
                                    <a class="dropdown-item" href="/tr/">Türkçe (TR)</a>
                                </li>
                                <li data-bs-dismiss="offcanvas">
                                    <a class="dropdown-item" href="/zh-hans/">中文 (ZH)</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <span
                            class="nav-to-form-btn d-flex d-lg-none justify-content-center align-items-center"
                            data-bs-dismiss="offcanvas"
                    >
                <a href="#zayavka"> Связаться </a>
              </span>
                </div>
            </div>
        </div>
    </nav>
</header>

<main>
    <section id="hero">
        <div class="container">
            <div class="d-flex flex-column">
                <h4>{{ main_block.subtitle }}</h4>
                <h1>{{ main_block.title }}</h1>
            </div>

            <div class="d-flex flex-column flex-lg-row gap-4 mt-5">
                <div class="text-block d-flex flex-column">
                    <h4>{{ main_block.first_text_title }}</h4>
                    <p>{{ main_block.first_text }}</p>
                </div>
                <div class="text-block">
                    <h4>{{ main_block.second_text_title }}</h4>
                    <p>{{ main_block.second_text }}</p>
                </div>
            </div>
        </div>
    </section>

    <section id="o-nas">
        <div class="container">
            <h2 class="heading">{{ about_us.title }}</h2>

            <div class="about-content d-flex flex-column-reverse flex-lg-row">
                <div class="about-text">{{ about_us.description }}</div>
                <img
                        src="


                                {% if about_us.image %}{{ about_us.image.url }}{% else %}{% static 'imgs/placeholder.webp' %}{% endif %}"
                        alt=""
                />
            </div>
        </div>
    </section>

    <section id="uslugi">
        <div class="container">
            <h2 class="heading">{{ service_title.title }}</h2>
            <div
                    class="d-flex flex-row flex-wrap services-wrap gap-3 gap-lg-4">

                {% for service in services %}
                    <div
                            class="service-card"
                            style="background-color: rgba(208, 226, 118, 0.56)"
                    >
                        <div class="service-card_img">
                            <img src="{{ service.image.url }}" alt="" class="img-fluid"/>
                        </div>
                        <h5 class="service-title">{{ service.title }}</h5>
                        <p>{{ service.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="preimuschestva" class="pb-0">
        <div class="container">
            <h2 class="heading">{{ advantages_title.title }}</h2>

            <div
                    class="d-flex flex-column flex-lg-row mt-4 gap-lg-5 align-items-center"
            >
                <div class="advantages-img_cover">
                    <img
                            src="


                                    {% if advantages_title.image %}{{ advantages_title.image.url }}{% else %}{% static 'imgs/placeholder.webp' %}{% endif %}"
                            alt=""
                    />
                </div>
                <div class="advantages-text_content mt-4 mt-lg-0">
                    <ul class="advantages-list d-flex flex-column gap-3">
                        {% for advantage in advantages %}
                            <li class="advantages-item">
                                <h4>{{ advantage.title }}</h4>
                                <p>{{ advantage.description }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="contact-us">
        <div class="container">
            <div class="d-flex flex-column flex-lg-row align-items-lg-end">
                <h4>{{ contacts.small_text }}</h4>
                <a href="#zayavka" class=""> Связаться </a>
            </div>
        </div>
    </section>

    <section id="zastroyshiki">
        <div class="container">
            <h2 class="heading">Застройщики</h2>
            <ul
                    class="nav nav-pills mt-4 mb-3 gap-4"
                    id="pills-tab"
                    role="tablist"
            >
                {% for developer in developers %}
                    <li class="nav-item" role="presentation">
                        <button
                                class="tab-img"
                                id="pills-home-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#{{ developers.name|slugify_name }}"
                                type="button"
                                role="tab"
                                aria-controls="pills-home"
                                aria-selected="true"
                        >
                            <img
                                    src="

                                            {% if developer.logo %}{{ developer.logo.url }}{% else %}{% static 'imgs/placeholder.webp' %}{% endif %}"
                            />
                        </button>
                    </li>

                {% endfor %}
            </ul>
            <div class="tab-content" id="pills-tabContent">
                {% for developer in developers %}

                    <div
                            class="tab-pane fade"
                            id="{{ developers.name|slugify_name }}"
                            role="tabpanel"
                            aria-labelledby="pills-home-tab"
                            tabindex="0"
                    >
                        <div class="swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                {% for building in developer.buildings.all %}
                                    <div class="swiper-slide">
                                        <div class="d-flex flex-column flex-lg-row gap-3 gap-lg-5">
                                            <img
                                                    src="

                                                            {% if building.image %}{{ building.image.url }}{% else %}{% static 'imgs/placeholder.webp' %}{% endif %}"
                                                    alt=""
                                            />
                                            <div
                                                    class="d-flex flex-column gap-3 align-items-lg-center justify-content-center"
                                            >
                                                <h3>{{ building.name }}</h3>
                                                <p>{{ building.description }}</p>
                                                {% if building.file %}
                                                    <a href="{{ building.file.url }}" target="_blank">
                                                        <img src="{% static 'imgs/file-icon.svg' %}" alt=""/>
                                                        Подробнее об объекте
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                            <div
                                    class="d-flex flex-row justify-content-between swiper-arrows"
                            >
                                <div class="swiper-button-prev">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="16"
                                            height="16"
                                            fill="currentColor"
                                            class="bi bi-arrow-left-circle"
                                            viewBox="0 0 16 16"
                                    >
                                        <path
                                                fill-rule="evenodd"
                                                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
                                        />
                                    </svg>
                                </div>
                                <div class="swiper-button-next">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="16"
                                            height="16"
                                            fill="currentColor"
                                            class="bi bi-arrow-right-circle"
                                            viewBox="0 0 16 16"
                                    >
                                        <path
                                                fill-rule="evenodd"
                                                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                                        />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="zayavka">
        <div class="container">
            <h2 class="heading">Заявка</h2>

            <div class="d-flex flex-column flex-lg-row form-cover mt-4">
                <div class="form">
                    <h5 class="form-title">{{ contacts.text }}</h5>

                    <form type="submit" action="{% url 'request' %}" method="post"
                          class="d-flex flex-column gap-3 mt-4">
                        {% csrf_token %}

                        <input name="name" type="text" placeholder="Ваше имя"/>

                        <input name="email" type="email" placeholder="Адрес электронной почты"/>
                        <input name="phone" type="tel" placeholder="Номер телефона"/>
                        <input name="text" type="text" placeholder="Ваше сообщение"/>
                        <button type="submit" id="send-form">Отправить заявку</button>
                    </form>

                </div>

                <div class="form-contacts d-flex flex-column">
                    <h5 class="form-contacts-title">{{ contacts.phone_text }}</h5>

                    {% for phone in contacts.phones.all %}
                        <a href="tel:{{ phone.phone }}">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-telephone-outbound"
                                    viewBox="0 0 16 16"
                            >
                                <path
                                        d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5"
                                />
                            </svg>
                            {{ phone.phone }}</a
                        >
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section id="kontakty">
        <div class="container">
            <h2 class="heading">Контакты</h2>

            <div class="d-flex flex-column flex-lg-row mt-4 gap-lg-4">
                <div class="contacts d-flex flex-column gap-4">
                    {% for phone in contacts.phones.all %}
                        <a
                                href="tel:{{ phone.phone }}"
                                class="d-flex flex-row align-items-center gap-2"
                        >
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-telephone-outbound"
                                    viewBox="0 0 16 16"
                            >
                                <path
                                        d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5"
                                />
                            </svg>
                            {{ phone.phone }}
                        </a>
                    {% endfor %}

                    <div class="d-flex flex-row socials gap-4 align-items-center">
                        {% for social in contacts.social.all %}
                            <a href="{{ social.link }}" target="_blank">
                                <img src="{{ social.icon.url }}" alt=""/>
                            </a>
                        {% endfor %}
                    </div>

                    <div class="schedule d-flex flex-column">
                        <h4 class="schedule-title">График работы</h4>

                        {% for worktime in contacts.work_time.all %}
                            <p class="schedule-text">
                                <strong>{{ worktime.description }}: </strong> {{ worktime.time }}
                            </p>
                        {% endfor %}
                    </div>

                    <a
                            href="{{ contacts.map_link }}"
                            target="_blank"
                            class="map-link d-flex flex-row gap-2 align-items-center"
                    >
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="bi bi-geo-alt"
                                viewBox="0 0 16 16"
                        >
                            <path
                                    d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"
                            />
                            <path
                                    d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
                            />
                        </svg>
                        Посмотреть адрес на карте
                    </a>
                </div>
                <div class="map">{{ contacts.map|safe }}</div>
            </div>
        </div>
    </section>
</main>

<footer>
    <div class="container">
        <div class="d-flex flex-column flex-lg-row justify-content-lg-center">
            <div class="d-flex flex-column flex-lg-row gap-4">
                <a href="#o-nas">
                    <h4>О нас</h4>
                </a>
                <a href="#uslugi">
                    <h4>Наши услуги</h4>
                </a>
                <a href="#preimuschestva">
                    <h4>Преимущества работы с нами</h4>
                </a>
                <a href="#zastroyshiki">
                    <h4>Застройщики</h4>
                </a>
                <a href="#kontakty">
                    <h4>Контакты</h4>
                </a>
            </div>
        </div>
    </div>
</footer>

<script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"
></script>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    document.addEventListener("scroll", function () {
        if (window.innerWidth > 992) {
            if (window.scrollY > 56) {
                document.querySelector("nav").style.top = "0px";
            } else {
                document.querySelector("nav").style.top = "56px";
            }
        }

    });
</script>

<script>
    const sliders = document.querySelectorAll(".swiper");

    sliders.forEach((slider) => {
        new Swiper(slider, {
            slidesPerView: 1,
            spaceBetween: 16,
            navigation: {
                nextEl: slider.querySelector(".swiper-button-next"),
                prevEl: slider.querySelector(".swiper-button-prev"),
            },
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelector(".tab-img").classList.add("active");
        document.querySelector(".tab-pane").classList.add("active", "show");
    });
</script>
<div
        class="modal fade"
        data-message-sent="{% if message_exist %}true{% else %}false{% endif %}"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body py-5">
                <div
                        class="d-flex justify-content-center align-items-center checkmark"
                >
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-check2"
                            viewBox="0 0 16 16"
                    >
                        <path
                                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"
                        />
                    </svg>
                </div>

                <h5>Ваша заявка успешно отправлена, ожидайте ответа!</h5>

                <button
                        type="button"
                        class="close-modal-btn"
                        data-bs-dismiss="modal"
                >
                    Готово
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        const modalEl = document.getElementById("exampleModal");
        const modal = new bootstrap.Modal("#exampleModal", {
            keyboard: true,
            backdrop: true,
            focus: true,
        });

        console.log(modalEl);

        modalEl.getAttribute("data-message-sent") === "true"
            ? modal.show()
            : modal.hide();

        setTimeout(() => {
            modal.hide()
        }, 5000)
    });
</script>
</body>
</html>
